#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.showMenuNav {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.hideMenuNav {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  /* To make it non-interactive when hidden */
  transition: opacity 0.2s ease-in-out;
}

.smooth:hover {
  background-color: black;
  color: white;
}

.smooth-2 {
  background-color: rgb(0 0 0);
  color: white;
}
.smooth-2:hover {
  background-color: white;
  color: black;
}

body.no-scroll {
  overflow: hidden;
}